# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "UxjwgwlpaSADCwO+7DETsrF0ADchPbcvsjMAyR6slo37H2uJYRMS5RKgcB1U2z82FkGFtduzWZH/EoVpg/vBBoKqx5iv9jH/rh/+/EuADUnuHf6JxoJ1nVLqtCtqwe4uiZ8u5G9luxcu4QN6N7N814mzmw7LL7gxmGyw6IjPJJ6Piryz1KBTKsHr3DC6iPMQoMUDBJ42iyTjRXjcVwKxfn0zKM6ofK0DR4Yg3+IjZ5JRXXlEC/6e1xYxckYZT/S9ICpCG6Od97heySupdtIIWnh94o9NJRV41ar71cvOpjD7aZAiE5Jh4+WUQWAcE50jj/WWtTXoHo01uet4egZcIfcwXvYcdtlhx/OWTN1vBj9jgm9iGHAR51Qcr82j160tIDwt2ZG7OScGk4VkDDL/paxxQXOGZNo/Y3GXI/sXaXyVaPt9+QloIdlKQHCkFy7CoWejWNEZIxoXvA02507ZdTiPrj/j6Kzu2abJG+oh6YDSvR8xPOF2hYcZmZNsKo/EGQsBphbTYA3Jzlp0QS2k+kYuUT14hqIO9ZEi/8wybn+5k/oV9xZ256KZBpYnBzGhFHR5csUenY76/6xAGpwYoti4UDTBtbTABLqjzgonrMyZ9amMFMSVqLKn+4EOtCDH0Tx3Jy+nW9u+v+w8xaAB0vXYvDZHO0avkbPrZ+fWxmU="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda config --set show_channel_urls true
      conda update --yes conda
      conda install --yes conda-build=1.20.0 jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
